*{
  margin:0px;
  padding: 0px;
}

body{
  width: 100%;
  background-color: #00db01;
  background-size: 100%;
}

p{
  color: white;
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
  font-size: large;
  margin: 20px;
}
.tool_bar {
  background-image: url(images/toolbar_1.png);
  width: 100%;
  height: 100px;
  position:fixed;
  left: 0.5%;
}
.title{
  font-family: 'Black Ops One', cursive;
  font-size: bolder;
  color: #00db01;
  font-size: 40px;
  text-shadow: -2px -2px 1px #373435, 2px 2px 1px #373435, -2px 2px 1px #373435, 2px -2px 1px #373435;
  position: absolute;
  right: 25%;
  top: 3%;
}

.img_log_in{
  width: 15%;
  height: 15%;
}
.img_log_out{
  position: absolute;
  top: 1%;
  left: 17%;
}
.menu_right {
  width: 53%;
  height: 100%;
  position: absolute;
  right: -10%;
  top:30%;
}
.menu_left{
  width: 47%;
  height: 100%;
  position: absolute;
  left: 0%;
  top: 0%;
}
.menu_right li {
  display: inline;
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
  font-size: 20px;
  font-weight: 900;
}

.menu_right li a {
  padding-right: 3ex;
  text-decoration: none;
  color: #ffffff;
}

.menu_right li a:hover {
  color: #00db01;
}

.extern_container{
  width: 100%;
  height: 100%;
  background-image: url(images/black_neon.jpg);
  background-repeat:no-repeat;
  background-size: 100%;
  position: absolute;
  top: 100px;
}

.intern_container {
  width: 94%;
  height: 100%;
  opacity: 0.8;
  background-color: #151515;
  border-radius: 20px 20px 20px 20px;
  position: absolute;
  right: 3%;
  overflow: scroll;
  overflow-x: hidden;
}

.force-overflow{
	min-height: 450px;
}

#style_scroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #373435;
}

#style_scroll::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style_scroll::-webkit-scrollbar-thumb
{
	background-color: #00db01;
	border: 2px solid #373435;
}
}
