body{
  background-color: #555;
}
.main{
  background-color: #353;
  color: #fff;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  margin-top: 50px;
}

.main li {
  list-style: none;
  cursor: pointer;
}

.verde{
  color: green;
  text-align: center;
  font-weight: bolder;
}

.margenx10{
  margin: 10px;
}
