body{
  background-size: cover;
  background-image: url("../images/black_neon.jpg");
}

footer{
  background-color: #373435;
text-align: center;
}
.green{
  color: #00db01 !important;
  text-decoration: none !important;
}

.letter{
  font-family: 'Black Ops One', cursive;
  font-size: 3.5em !important;
  text-shadow: -2px -2px 1px #373435, 2px 2px 1px #373435, -2px 2px 1px #373435, 2px -2px 1px #373435;
}

.logo{
width: 55px;
}

.navbar-edit{
  background-color: #000000 !important;
  border-color: #373435 !important;
  opacity: 0.9;
}

.nav-a:hover{
  background-color: #373435 !important;
  color: #FFFFFF !important;
}
