body{
  background-color: #444;
}

.navbar-default{
  background-color: #BFA;

}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  background-color: #444;
  color: white;
}

.nav_bar_cont .navbar-brand {
  display: flex;
  align-items: center;
}
.nav_bar_cont .navbar-brand>img {
  padding: 7px 14px;
  width: 64px;
}

.boton {
  text-align: center;
}

.img_game {
  width:96%;
  text-align: center;
  margin: 10px;
}

.title_game{
  color: red;
  size: 2em;
  font-weight: bolder;
  text-align: center;
}

.panel {
  margin: 20px;
}

.price_button{
  text-align: center;
  flex-direction: column;
}

.price_button>p{
  color: #000;
  size: 2em;
  font-weight: bolder;
}

.bolder_table {
  font-weight: bolder;
}

.titulo{
  text-align: center;
  font-family: 'Arvo', serif;
  font-weight: 800;
}

.subtitulo{
  margin-top: 20px;
}

.main{
  padding: 20px;
  background-color: #AFA;
  border-radius: 10px;
  border: #FFF;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 100px;
}

.carousel-inner {
  text-align: center;
 }

.carousel .item > a {
   display: inline-block;
}

.centro{
  text-align: center;
}
.carousel-pers{
  background-color: grey;
  border-radius: 5px;
}

.logo_home{
  text-align: center;
}
.logo_home > img{
  width: 50%;
}
@media(min-width: 992px){
  .button_and_price{
    display: block;
    margin-top: 300px;
  }
}

.button_and_price > p {
  font-size: 36px;
}

.button_and_price{
  background-color: #FDD;
  border-radius: 10px;
  padding-bottom: 5px;
}
