body{
  background-color: #444;
}

.navbar-default{
  background-color: #BFA;

}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  background-color: #444;
  color: white;
}

.nav_bar_cont .navbar-brand {
  display: flex;
  align-items: center;
}
.nav_bar_cont .navbar-brand>img {
  padding: 7px 14px;
  width: 64px;
}

.boton {
  text-align: center;
}

.img_game {
  width:96%;
  text-align: center;
  margin: 10px;
  border-radius: 10px;
}

.title_game > img{
  width: 50%;
}

.title_game{
  text-align: center;
}

.panel {
  margin: 20px;
}

.price_button{
  text-align: center;
  flex-direction: column;
}

.price_button>p{
  color: #000;
  size: 2em;
  font-weight: bolder;
}

.bolder_table {
  font-weight: bolder;
}

.titulo{
  text-align: center;
  font-family: 'Arvo', serif;
  font-weight: 800;
}

.subtitulo{
  margin-top: 20px;
}

.main{
  padding: 20px;
  background-color: #AFA;
  border-radius: 10px;
}

.carousel-inner {
  text-align: center;
}

.carousel .item > a {
  display: inline-block;
}

.centro{
  text-align: center;
}
.carousel-pers{
  background-color: grey;
  border-radius: 5px;
}

.logo_home{
  text-align: center;
}
.logo_home > img{
  width: 50%;
}

@media(min-width: 992px){
  .button_and_price{
    display: block;
    margin-top: 300px;
  }
}

.button_and_price > p {
  font-size: 36px;
}

.button_and_price{
  background-color: #FDD;
  border-radius: 10px;
  padding-bottom: 5px;
}

.table-bordered {
  background-color: #FEE;
  border-radius: 10px;
}
/*LOGIN*/
.loginDerecha{
  float: right;
}
#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}
