body{
  background-color: #5FD77F;
}

.navbar-default{
  background-color: lightgrey;

}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  background-color: #0F4;
  color: white;
}

.nav_bar_cont .navbar-brand {
  display: flex;
  align-items: center;
}
.nav_bar_cont .navbar-brand>img {
  padding: 7px 14px;
  width: 64px;
}

.boton {
  text-align: center;
}

.img_game {
  width:96%;
  text-align: center;
  margin: 10px;
}

.title_game{
  color: red;
  size: 2em;
  font-weight: bolder;
  text-align: center;
}

.panel {
  margin: 20px;
}

.price_button{
  text-align: center;
  flex-direction: column;
}

.price_button>p{
  color: red;
  size: 2em;
  font-weight: bolder;
}

.bolder_table {
  font-weight: bolder;
}
