
.saldo_div{
  background-color: #FFAA00;
  width: 540px;
  height: 50px;
  border-radius: 10px 10px 10px 10px ;
}
#saldo {
  color: #000000;
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
  font-weight: bolder;
  position: absolute;
  left: 455px;
  top: 25px;
}
.saldo_div p{
  color: #000000;
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
  font-weight: bolder;
  position: absolute;
  left: 400px;
}

.resultado_div{
  background-color: #FF7C00;
  width: 540px;
  height: 50px;
  border-radius: 10px 10px 10px 10px ;
  position: absolute;
  top: 58px;
}

.resultado_div p{
  color: #000000;
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
  font-weight: bolder;
  position: absolute;
  left: 2%;
}
#resultado{
  color: #000000;
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
  font-weight: bolder;
  position: absolute;
  left: 240px;
  top: 18px;
}

.Numero_y_ruleta{
  background-color: #FF3900;
  width: 540px;
  height: 230px;
  border-radius: 10px 10px 10px 10px ;
  position: absolute;
  top: 108px;
}

.Numero_y_ruleta p{
  color: #000000;
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
  font-weight: bolder;
  position: absolute;
  left: 2%;
}

#numero{
  position: absolute;
  right: 268px;
  top: 8px;
  width: 105px;
}

#boton{
  position: absolute;
  right: 125px;
  top: 37px;
}

.list_style{
  list-style:none;
  position: relative;
  left: 117px;
  top: 0px;
}

.list_style li a {
  text-decoration: none;
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
  font-weight: bolder;
  color: #000000;
  padding: 2px;
}

.list_style li a:hover {
  color: #FF3900;
  padding: 2px;
  background-color: #000000;
}
.acept{
  background-color: #FF0000;
  width: 540px;
  height: 60px;
  position: relative;
  top: 264px;
  border-radius: 10px 10px 10px 10px ;
}
.acept p{
  padding: 0px;
  margin: 10px;
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
  font-weight: bolder;
  position: relative;
  left: 2%;
  top: 8px;
}
